@import "tailwindcss";

/* @import 'tw-animate-css'; */

@theme {
  --color-foreground: #030203;
  --color-background: #e9dfd3;

  --color-brand-blue: #54c3fe;
  --color-brand-orange: #ff4e02;
  --color-brand-green: #01c780;
  --color-brand-olive: #565500;

  --color-paragraph: #707070;
  --color-complementario: #d0b7fe;

  --color-card: #f5f5f5;
  --color-error: #ef4444;
  --color-fixed: #0a0b0b;

  --font-satoshi: "Satoshi", sans-serif;
  --font-lora: "Lora", serif;
}

.dark {
  --color-foreground: #e9dfd3;
  --color-background: #030203;

  --color-paragraph: #9c9c9c;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-satoshi);
}
