@import "tailwindcss";

/* @import 'tw-animate-css'; */
/* <link href="https://api.fontshare.com/v2/css?f[]=lora@400,401,500,600,601,700,701,1,2&f[]=satoshi@300,301,400,401,500,501,700,701,900,901,1,2&display=swap" rel="stylesheet"> */
/*  */
@theme {
  --color-foreground: #030203;
  --color-background: #fff;

  --color-brand-blue: #54c3fe;
  --color-brand-orange: #ff4e02;
  --color-brand-green: #01c780;
  --color-brand-olive: #565500;

  --color-paragraph: #707070;
  --color-complementario: #d0b7fe;

  --color-card: #f5f5f5;
  --color-error: #ef4444;
  --color-fixed: #0a0b0b;

  --font-satoshi: "Satoshi", sans-serif;
  --font-lora: "Lora", serif;
}

.dark {
  --color-foreground: #fff;
  --color-background: #030203;

  --color-paragraph: #9c9c9c;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-satoshi);
}
