.rdp-root {
  --rdp-accent-color: #ff4e02 !important;
}
.react-select__control {
  border-radius: 0.5rem !important; /* 8px, igual que los otros inputs */
  box-shadow: none !important;
}

.react-select__control--is-focused {
  border-color: #ff4e02 !important; /* tu brand-orange */
  box-shadow: 0 0 0 1px #ff4e02 !important;
  outline: none !important;
}

/* Opción seleccionada actualmente en el menú */
.react-select__option--is-selected {
  background-color: #ff4e02 !important;
  color: white !important;
}

/* Opción con hover/focus en el menú */
.react-select__option--is-focused {
  background-color: #fed7aa !important; /* un naranja más claro para el hover */
  color: #1f2937 !important;
}

/* Estilo para la opción seleccionada cuando también tiene hover, para que no cambie de color */
.react-select__option--is-selected.react-select__option--is-focused {
  background-color: #ff4e02 !important;
}